<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  </head>

  <nav>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
        <span class="fs-4">CLASSROOM</span>
    </a>
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            {% if user.is_authenticated %}
                 <li class="nav-item"><a href="/auth/logout" class="nav-link">Logout</a></li>
            {% else %}
                <li class="nav-item"><a href="/auth/login" class="nav-link">Login</a></li>

                <li class="nav-item"><a href="/auth/register" class="nav-link">Signup</a></li>
            {% endif %}
        </ul>

    </header>
  </nav>
    {% if messages %}
    <div class="toast-container top-0 end-0">
        {% for message in messages %}
            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="toast  alert-dismissible shadow fade show bg-{{ message.tags }} border-0 p-1"
                             id="EpicToast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
    </div>

{% endif %}

  <body>

        {% block main %}
        {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

{% if messages %}
    <script>
        var option =
            {
                animation: true,
                delay: 2000
            };
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {

            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())

    </script>
{% endif %}