{% extends "authentication/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}
<link href="/static/sign-in.css" rel="stylesheet">
<link href="/static/register.css" rel="stylesheet">
{% block main %}
<div class="text-center">
    <section class="vh-100 bg-image">

  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">

{#<div class="text-center">#}
<main class="form-signin w-100 m-auto">
              <form method="POST">
                {% csrf_token %}
                  <img class="mb-4" src="/static/images/tulogo.png" alt="" width="72" height="72">
                    <h1 class="h3 mb-3 fw-normal">Create an account</h1>

                  <div class="form-floating">

                     {{ form.username }}
                     <label for="{{ form.username.id_for_label }}">Enrolment Number</label>
                 </div>

                 <div class="form-floating">
                     {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                 </div>

                  <div class="form-floating">
                     {{ form.last_name }}
                     <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                  </div>

                  <div class="form-floating">
                     {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">Email Id</label>
                  </div>

                  <div class="form-floating">
                    {{ form.password1 }}
                     <label for="{{ form.password1.id_for_label }}">Password</label>
                  </div>

                  <div class="form-floating">
                     {{ form.password2 }}
                     <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                  </div>

                <div>
                  <div class="form-group col-md-6 mb-0 d-flex justify-content-center">
                      <button type="submit"
                              class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register
                      </button>
                  </div>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
</main>
</div>


          </div>
        </div>
      </div>


</section>
</div>


{% endblock %}