{% extends "authentication/base.html" %}

{% block title %}
    {{ classroom.title }}
{% endblock %}

{% block main %}
    <h1>{{ classroom.title }}</h1>
    <p>{{ classroom.description }}</p>
    <a class="button" href="{% url 'attendance:new_attendance' classroom.join_code %}">Record Attendance</a>

    <div>
    <h2>Students:</h2>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" >Roll Number</th>
      <th scope="col"># Present</th>
      <th scope="col"># Classes</th>
      <th scope="col">Percentage</th>
    </tr>
  </thead>
  <tbody>
    {% for at in attendance %}
        <tr>
      <th scope="row" ><a href="{% url 'attendance:view_attendance' classroom.join_code at.student_id %}">{{ at.student.username }}</a></th>
      <td>{{ at.att_class }}</td>
      <td>{{ at.total_class }}</td>
      <td>{{ at.attendance }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

    </div>

{% endblock %}
